
.images {
	position: fixed;
	top: 0;
	left:0;
	min-width: 100%;
	min-height: 100%;
}


.h1{
	color:blue;
	text-align: center;
	padding: 200px;
}


.navbar{
	list-style-type: none;
	display: inline;

}
a{
    text-decoration: none;
    background-color: green;
    color: black;
   	margin: 20px;
   	padding: 10px;
}

.paragraphs{
	float: right;


}

.contactinfos{
	display: table-cell;
    vertical-align: middle;
    width:50px;
    float: right;
   


}

.container {
	margin: 50px;
	padding:50px;
	border: 1px;
	border-style: solid;
	border-color: #9FF781;
	margin-left: 330px;
	width: 500px;
	height: 600px;
	float:right;	
}



