

.images {
	position: fixed;
	top: 0;
	left:0;
	min-width: 100%;
	min-height: 100%;
}


.h1{
	color:blue;
	text-align: center;
	padding: 200px;

}

.container {
	
	margin: 50px;
	padding:50px;
	border: 1px;
	border-style: solid;
	border-color: #9FF781;
	margin-left: 330px;
	width: 500px;
	height: 600px;
	float:right;

	
}

.textleft{
	width: 47%;
	float: left;
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
	
}

.textright {
	width: 47%;
	float: left;
	text-align: right;
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
	
}


a:link {
    color:blue;
    text-decoration:none;
}
a:visited {
    color:green;
    text-decoration:none;
}
a:hover {
    color:orange;
    text-decoration:none;
}
a:active {
    color:red;
    text-decoration:none;
}